@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.slogan {
  margin: 0 auto;
  font-family: "Merriweather";
}
.sesion {
  margin: 14px auto;
  font-size: 14px;
}
.forget {
  color: #ff7d54;
  font-weight: bold;
  font-size: 14px;
}
.error {
  color: red;
  margin: 20px auto;
}
.icon-wrapper {
  position: relative;
}
.icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.icon-wrapper input {
  padding-left: 35px !important;
}
